
.blog-area {
    padding: 30px 0 30px;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
}

.section-title p {
    margin-top: 13px;
    font-style: italic;
    font-family: 'Open Sans',sans-serif;  
    font-weight:550;
    line-height: 26px;
    color: #424242;
}

.section-title h2 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
}

.section-title h2:before {
    content: "";
    position: absolute;
    left: -25px;
    bottom: 0;
    width: 3px;
    height: 50px;
    background: #004281;
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
}

.section-title h2:after {
    content: "";
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 3px;
    height: 50px;
    background: #004281;
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
}

.blog-col {
    text-align: center !important;
    background: #EFFBFF !important;
    visibility: visible !important;
    animation-duration: 1s !important;
    animation-delay: 0s !important;
    animation-name: fadeIn !important;
}

.blog-img {
	  position: relative;
     overflow: hidden;
}

.blog-img:hover img {
    transform: scale(1.2) rotateZ(1deg);
    -moz-transform: scale(1.2) rotateZ(1deg);
    -webkit-transform: scale(1.2) rotateZ(1deg);
    -o-transform: scale(1.2) rotateZ(-5deg);
}
  
.blog-img img {

     transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    height: 250px;
}


.post-date {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: #111;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.post-date h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    font-family: 'Raleway',sans-serif;
}

.blog-content {
    padding: 30px 15px;
}

.blog-col h4 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Raleway',sans-serif;
    color: #232323;
    line-height: 1.1;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
}

.blog-col h4 a {
    color: #111;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:600; 
}

.blog-col p {
    margin-bottom: 20px;
    font-family: 'Raleway',sans-serif;
     font-weight: 500;
     text-align: center;
}

.my-btn {
    padding: 10px 20px;
    background: #004281;
    color: #fff;
    position: relative;
    border-radius: 0;
    border: none;
    text-transform: capitalize;
    font-size: 14px;
}

.my-btn:hover
{
color: #fff;
background: #097c9a;
}